@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  height: 100dvh;
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.592), transparent 70.71%),
    linear-gradient(127deg, #e97cbcc6, transparent 70.71%),
    linear-gradient(336deg, #3d47d9c3, transparent 70.71%);
}

html {
  font-family: "Outfit", sans-serif;
}

header {
  font-size: 1.18rem;
  font-weight: 600;
}

.container {
  width: 90%;
  margin: 0 auto;
}
