@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  height: 100dvh;
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.592), transparent 70.71%),
    linear-gradient(127deg, #e97cbcc6, transparent 70.71%),
    linear-gradient(336deg, #3d47d9c3, transparent 70.71%);
}

html {
  font-family: "Outfit", sans-serif;
}

header {
  font-size: 1.18rem;
  font-weight: 600;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container-logo-and-nav {
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

li {
  margin-left: 2.54em;
}

a {
  text-decoration: none;
}

.hero {
  margin-top: 4.575em;
  font-weight: 500;
}

.container-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  width: 50%;
  gap: 1.275em;
}

.hero-title,
.hero-subtitle {
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-size: 2.5rem;
}

.hero-subtitle {
  gap: 1.09em;
}

.hero-subtitle p {
  margin: 0px;
  font-size: 1.375rem;
}
